In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('Fifa_world_cup_matches.csv')
data

,team1,team2,possession team1,possession team2,possession in contest,number of goals team1,number of goals team2,date,hour,category,...,penalties scored team1,penalties scored team2,goal preventions team1,goal preventions team2,own goals team1,own goals team2,forced turnovers team1,forced turnovers team2,defensive pressures applied team1,defensive pressures applied team2
0,QATAR,ECUADOR,42%,50%,8%,0,2,20 NOV 2022,17 : 00,Group A,...,0,1,6,5,0,0,52,72,256,279
1,ENGLAND,IRAN,72%,19%,9%,6,2,21 NOV 2022,14 : 00,Group B,...,0,1,8,13,0,0,63,72,139,416
2,SENEGAL,NETHERLANDS,44%,45%,11%,0,2,21 NOV 2022,17 : 00,Group A,...,0,0,9,15,0,0,63,73,263,251
3,UNITED STATES,WALES,51%,39%,10%,1,1,21 NOV 2022,20 : 00,Group B,...,0,1,7,7,0,0,81,72,242,292
4,ARGENTINA,SAUDI ARABIA,64%,24%,12%,1,2,22 NOV 2022,11 : 00,Group C,...,1,0,4,14,0,0,65,80,163,361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,ENGLAND,FRANCE,54%,36%,10%,1,2,10 DEC 2022,20 : 00,Quarter-final,...,1,0,9,15,0,0,49,54,193,308
60,ARGENTINA,CROATIA,34%,54%,12%,3,0,13 DEC 2022,20 : 00,Semi-final,...,1,0,12,10,0,0,85,63,321,260
61,FRANCE,MOROCCO,34%,55%,11%,2,0,14 DEC 2022,20 : 00,Semi-final,...,0,0,13,14,0,0,72,47,328,218
62,CROATIA,MOROCCO,45%,45%,10%,2,1,17 DEC 2022,16 : 00,Play-off for third place,...,0,0,7,14,0,0,75,72,288,277
63,ARGENTINA,FRANCE,46%,40%,14%,3,3,18 DEC 2022,16 : 00,Final,...,1,2,11,21,0,0,87,104,280,409

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 88 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   team1                                                  64 non-null     object
 1   team2                                                  64 non-null     object
 2   possession team1                                       64 non-null     object
 3   possession team2                                       64 non-null     object
 4   possession in contest                                  64 non-null     object
 5   number of goals team1                                  64 non-null     int64
 6   number of goals team2                                  64 non-null     int64
 7   date                                                   64 non-null     object
 8   hour                                                   64 non-null     object
 9   category                                               64 non-null     object
 10  total attempts team1                                   64 non-null     int64
 11  total attempts team2                                   64 non-null     int64
 12  conceded team1                                         64 non-null     int64
 13  conceded team2                                         64 non-null     int64
 14  goal inside the penalty area team1                     64 non-null     int64
 15  goal inside the penalty area team2                     64 non-null     int64
 16  goal outside the penalty area team1                    64 non-null     int64
 17  goal outside the penalty area team2                    64 non-null     int64
 18  assists team1                                          64 non-null     int64
 19  assists team2                                          64 non-null     int64
 20  on target attempts team1                               64 non-null     int64
 21  on target attempts team2                               64 non-null     int64
 22  off target attempts team1                              64 non-null     int64
 23  off target attempts team2                              64 non-null     int64
 24  attempts inside the penalty area team1                 64 non-null     int64
 25  attempts inside the penalty area  team2                64 non-null     int64
 26  attempts outside the penalty area  team1               64 non-null     int64
 27  attempts outside the penalty area  team2               64 non-null     int64
 28  left channel team1                                     64 non-null     int64
 29  left channel team2                                     64 non-null     int64
 30  left inside channel team1                              64 non-null     int64
 31  left inside channel team2                              64 non-null     int64
 32  central channel team1                                  64 non-null     int64
 33  central channel team2                                  64 non-null     int64
 34  right inside channel team1                             64 non-null     int64
 35  right inside channel team2                             64 non-null     int64
 36  right channel team1                                    64 non-null     int64
 37  right channel team2                                    64 non-null     int64
 38  total offers to receive team1                          64 non-null     int64
 39  total offers to receive team2                          64 non-null     int64
 40  inbehind offers to receive team1                       64 non-null     int64
 41  inbehind offers to receive team2                       64 non-null     int64
 42  inbetween offers to receive team1                      64 non-null     int64
 43  inbetween offers to receive team2                      64 non-null     int64
 44  infront offers to receive team1                        64 non-null     int64
 45  infront offers to receive team2                        64 non-null     int64
 46  receptions between midfield and defensive lines team1  64 non-null     int64
 47  receptions between midfield and defensive lines team2  64 non-null     int64
 48  attempted line breaks team1                            64 non-null     int64
 49  attempted line breaks team2                            64 non-null     int64
 50  completed line breaksteam1                             64 non-null     int64
 51  completed line breaks team2                            64 non-null     int64
 52  attempted defensive line breaks team1                  64 non-null     int64
 53  attempted defensive line breaks team2                  64 non-null     int64
 54  completed defensive line breaksteam1                   64 non-null     int64
 55  completed defensive line breaks team2                  64 non-null     int64
 56  yellow cards team1                                     64 non-null     int64
 57  yellow cards team2                                     64 non-null     int64
 58  red cards team1                                        64 non-null     int64
 59  red cards team2                                        64 non-null     int64
 60  fouls against team1                                    64 non-null     int64
 61  fouls against team2                                    64 non-null     int64
 62  offsides team1                                         64 non-null     int64
 63  offsides team2                                         64 non-null     int64
 64  passes team1                                           64 non-null     int64
 65  passes team2                                           64 non-null     int64
 66  passes completed team1                                 64 non-null     int64
 67  passes completed team2                                 64 non-null     int64
 68  crosses team1                                          64 non-null     int64
 69  crosses team2                                          64 non-null     int64
 70  crosses completed team1                                64 non-null     int64
 71  crosses completed team2                                64 non-null     int64
 72  switches of play completed team1                       64 non-null     int64
 73  switches of play completed team2                       64 non-null     int64
 74  corners team1                                          64 non-null     int64
 75  corners team2                                          64 non-null     int64
 76  free kicks team1                                       64 non-null     int64
 77  free kicks team2                                       64 non-null     int64
 78  penalties scored team1                                 64 non-null     int64
 79  penalties scored team2                                 64 non-null     int64
 80  goal preventions team1                                 64 non-null     int64
 81  goal preventions team2                                 64 non-null     int64
 82  own goals team1                                        64 non-null     int64
 83  own goals team2                                        64 non-null     int64
 84  forced turnovers team1                                 64 non-null     int64
 85  forced turnovers team2                                 64 non-null     int64
 86  defensive pressures applied team1                      64 non-null     int64
 87  defensive pressures applied team2                      64 non-null     int64
dtypes: int64(80), object(8)
memory usage: 44.1+ KB

In [5]:
data.head()

,team1,team2,possession team1,possession team2,possession in contest,number of goals team1,number of goals team2,date,hour,category,...,penalties scored team1,penalties scored team2,goal preventions team1,goal preventions team2,own goals team1,own goals team2,forced turnovers team1,forced turnovers team2,defensive pressures applied team1,defensive pressures applied team2
0,QATAR,ECUADOR,42%,50%,8%,0,2,20 NOV 2022,17 : 00,Group A,...,0,1,6,5,0,0,52,72,256,279
1,ENGLAND,IRAN,72%,19%,9%,6,2,21 NOV 2022,14 : 00,Group B,...,0,1,8,13,0,0,63,72,139,416
2,SENEGAL,NETHERLANDS,44%,45%,11%,0,2,21 NOV 2022,17 : 00,Group A,...,0,0,9,15,0,0,63,73,263,251
3,UNITED STATES,WALES,51%,39%,10%,1,1,21 NOV 2022,20 : 00,Group B,...,0,1,7,7,0,0,81,72,242,292
4,ARGENTINA,SAUDI ARABIA,64%,24%,12%,1,2,22 NOV 2022,11 : 00,Group C,...,1,0,4,14,0,0,65,80,163,361

In [6]:
data.columns

Index(['team1', 'team2', 'possession team1', 'possession team2',
       'possession in contest', 'number of goals team1',
       'number of goals team2', 'date', 'hour', 'category',
       'total attempts team1', 'total attempts team2', 'conceded team1',
       'conceded team2', 'goal inside the penalty area team1',
       'goal inside the penalty area team2',
       'goal outside the penalty area team1',
       'goal outside the penalty area team2', 'assists team1', 'assists team2',
       'on target attempts team1', 'on target attempts team2',
       'off target attempts team1', 'off target attempts team2',
       'attempts inside the penalty area team1',
       'attempts inside the penalty area  team2',
       'attempts outside the penalty area  team1',
       'attempts outside the penalty area  team2', 'left channel team1',
       'left channel team2', 'left inside channel team1',
       'left inside channel team2', 'central channel team1',
       'central channel team2', 'right inside channel team1',
       'right inside channel team2', 'right channel team1',
       'right channel team2', 'total offers to receive team1',
       'total offers to receive team2', 'inbehind offers to receive team1',
       'inbehind offers to receive team2', 'inbetween offers to receive team1',
       'inbetween offers to receive team2', 'infront offers to receive team1',
       'infront offers to receive team2',
       'receptions between midfield and defensive lines team1',
       'receptions between midfield and defensive lines team2',
       'attempted line breaks team1', 'attempted line breaks team2',
       'completed line breaksteam1', 'completed line breaks team2',
       'attempted defensive line breaks team1',
       'attempted defensive line breaks team2',
       'completed defensive line breaksteam1',
       'completed defensive line breaks team2', 'yellow cards team1',
       'yellow cards team2', 'red cards team1', 'red cards team2',
       'fouls against team1', 'fouls against team2', 'offsides team1',
       'offsides team2', 'passes team1', 'passes team2',
       'passes completed team1', 'passes completed team2', 'crosses team1',
       'crosses team2', 'crosses completed team1', 'crosses completed team2',
       'switches of play completed team1', 'switches of play completed team2',
       'corners team1', 'corners team2', 'free kicks team1',
       'free kicks team2', 'penalties scored team1', 'penalties scored team2',
       'goal preventions team1', 'goal preventions team2', 'own goals team1',
       'own goals team2', 'forced turnovers team1', 'forced turnovers team2',
       'defensive pressures applied team1',
       'defensive pressures applied team2'],
      dtype='object')

In [8]:
data[['team1', 'team2','number of goals team1','number of goals team2','goal inside the penalty area team1','goal inside the penalty area team2','goal outside the penalty area team1','goal outside the penalty area team2','yellow cards team1','yellow cards team2','red cards team1','red cards team2']]

,team1,team2,number of goals team1,number of goals team2,goal inside the penalty area team1,goal inside the penalty area team2,goal outside the penalty area team1,goal outside the penalty area team2,yellow cards team1,yellow cards team2,red cards team1,red cards team2
0,QATAR,ECUADOR,0,2,0,2,0,0,4,2,0,0
1,ENGLAND,IRAN,6,2,6,2,0,0,0,2,0,0
2,SENEGAL,NETHERLANDS,0,2,0,2,0,0,2,1,0,0
3,UNITED STATES,WALES,1,1,1,1,0,0,4,2,0,0
4,ARGENTINA,SAUDI ARABIA,1,2,1,2,0,0,0,6,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
59,ENGLAND,FRANCE,1,2,1,1,0,1,1,3,0,0
60,ARGENTINA,CROATIA,3,0,3,0,0,0,2,2,0,0
61,FRANCE,MOROCCO,2,0,2,0,0,0,0,1,0,0
62,CROATIA,MOROCCO,2,1,2,1,0,0,0,2,0,0
63,ARGENTINA,FRANCE,3,3,3,3,0,0,4,3,0,0

In [11]:
score1 = data.groupby('team1')['number of goals team1'].sum()
score1

team1
ARGENTINA         11
AUSTRALIA          1
BELGIUM            1
BRAZIL             7
CAMEROON           4
CANADA             1
COSTA RICA         2
CROATIA            7
DENMARK            0
ECUADOR            1
ENGLAND           10
FRANCE            11
GERMANY            1
GHANA              0
IRAN               0
JAPAN              3
KOREA REPUBLIC     4
MEXICO             0
MOROCCO            1
NETHERLANDS        8
POLAND             2
PORTUGAL          11
QATAR              1
SAUDI ARABIA       1
SENEGAL            0
SERBIA             2
SPAIN              8
SWITZERLAND        1
TUNISIA            1
UNITED STATES      1
URUGUAY            0
WALES              0
Name: number of goals team1, dtype: int64

In [12]:
score2 = data.groupby('team2')['number of goals team2'].sum()
score2

team2
ARGENTINA         4
AUSTRALIA         3
BELGIUM           0
BRAZIL            1
CAMEROON          0
CANADA            1
COSTA RICA        1
CROATIA           1
DENMARK           1
ECUADOR           3
ENGLAND           3
FRANCE            5
GERMANY           5
GHANA             5
IRAN              4
JAPAN             2
KOREA REPUBLIC    1
MEXICO            2
MOROCCO           5
NETHERLANDS       2
POLAND            1
PORTUGAL          1
QATAR             0
SAUDI ARABIA      2
SENEGAL           5
SERBIA            3
SPAIN             1
SWITZERLAND       4
TUNISIA           0
UNITED STATES     2
URUGUAY           2
WALES             1
Name: number of goals team2, dtype: int64

In [13]:
total_score = score1 + score2
total_score.sort_values(ascending=False)

team1
FRANCE            16
ARGENTINA         15
ENGLAND           13
PORTUGAL          12
NETHERLANDS       10
SPAIN              9
BRAZIL             8
CROATIA            8
GERMANY            6
MOROCCO            6
GHANA              5
KOREA REPUBLIC     5
JAPAN              5
SENEGAL            5
SERBIA             5
SWITZERLAND        5
ECUADOR            4
AUSTRALIA          4
IRAN               4
CAMEROON           4
COSTA RICA         3
UNITED STATES      3
POLAND             3
SAUDI ARABIA       3
MEXICO             2
CANADA             2
URUGUAY            2
DENMARK            1
TUNISIA            1
BELGIUM            1
QATAR              1
WALES              1
dtype: int64

In [14]:
score_pn1 = data.groupby('team1')['goal inside the penalty area team1'].sum()
score_pn2 = data.groupby('team2')['goal inside the penalty area team2'].sum()

In [15]:
total_pn = score_pn1 + score_pn2
total_pn

team1
ARGENTINA         14
AUSTRALIA          3
BELGIUM            1
BRAZIL             8
CAMEROON           4
CANADA             1
COSTA RICA         3
CROATIA            7
DENMARK            1
ECUADOR            4
ENGLAND           12
FRANCE            15
GERMANY            6
GHANA              5
IRAN               3
JAPAN              4
KOREA REPUBLIC     4
MEXICO             1
MOROCCO            5
NETHERLANDS        9
POLAND             3
PORTUGAL          11
QATAR              1
SAUDI ARABIA       3
SENEGAL            5
SERBIA             4
SPAIN              9
SWITZERLAND        5
TUNISIA            0
UNITED STATES      3
URUGUAY            2
WALES              1
dtype: int64

In [16]:
score_ou1 = data.groupby('team1')['goal outside the penalty area team1'].sum()
score_ou2 = data.groupby('team2')['goal outside the penalty area team2'].sum()

In [17]:
total_ou = score_ou1 + score_ou2
total_ou

team1
ARGENTINA         1
AUSTRALIA         0
BELGIUM           0
BRAZIL            0
CAMEROON          0
CANADA            0
COSTA RICA        0
CROATIA           1
DENMARK           0
ECUADOR           0
ENGLAND           1
FRANCE            1
GERMANY           0
GHANA             0
IRAN              1
JAPAN             1
KOREA REPUBLIC    1
MEXICO            1
MOROCCO           1
NETHERLANDS       1
POLAND            0
PORTUGAL          1
QATAR             0
SAUDI ARABIA      0
SENEGAL           0
SERBIA            1
SPAIN             0
SWITZERLAND       0
TUNISIA           1
UNITED STATES     0
URUGUAY           0
WALES             0
dtype: int64

In [18]:
yellow1 = data.groupby('team1')['yellow cards team1'].sum()
yellow2 = data.groupby('team2')['yellow cards team2'].sum()
total_yellow = yellow1 + yellow2
total_yellow

team1
ARGENTINA         16
AUSTRALIA          7
BELGIUM            5
BRAZIL             6
CAMEROON           8
CANADA             8
COSTA RICA         6
CROATIA            8
DENMARK            5
ECUADOR            3
ENGLAND            1
FRANCE             8
GERMANY            3
GHANA              8
IRAN               7
JAPAN              6
KOREA REPUBLIC     6
MEXICO             7
MOROCCO            9
NETHERLANDS       12
POLAND             7
PORTUGAL           6
QATAR              7
SAUDI ARABIA      14
SENEGAL            7
SERBIA            12
SPAIN              2
SWITZERLAND        9
TUNISIA            5
UNITED STATES      5
URUGUAY            8
WALES              5
dtype: int64

In [19]:
red1 = data.groupby('team1')['red cards team1'].sum()
red2 = data.groupby('team2')['red cards team2'].sum()
total_red = red1 + red2
total_red

team1
ARGENTINA         0
AUSTRALIA         0
BELGIUM           0
BRAZIL            0
CAMEROON          1
CANADA            0
COSTA RICA        0
CROATIA           0
DENMARK           0
ECUADOR           0
ENGLAND           0
FRANCE            0
GERMANY           0
GHANA             0
IRAN              0
JAPAN             0
KOREA REPUBLIC    0
MEXICO            0
MOROCCO           1
NETHERLANDS       1
POLAND            0
PORTUGAL          0
QATAR             0
SAUDI ARABIA      0
SENEGAL           0
SERBIA            0
SPAIN             0
SWITZERLAND       0
TUNISIA           0
UNITED STATES     0
URUGUAY           0
WALES             1
dtype: int64

In [21]:
data['goals']=data['number of goals team1'] + data['number of goals team2']

In [22]:
data.pivot_table('goals',index='category',aggfunc='sum',fill_value=0,margins=True) #aggfunc='sum'

                          goals
category
Final                         6
Group A                      15
Group B                      16
Group C                      12
Group D                      11
Group E                      22
Group F                      11
Group G                      16
Group H                      17
Play-off for third place      3
Quarter-final                10
Round of 16                  28
Semi-final                    5
All                         172